absl-py==0.8.0
appdirs==1.4.4
argopt==0.5.0
bsv==0.4.1
certifi==2019.6.16
cffi==1.13.2
chardet==3.0.4
Click==7.0
cycler==0.10.0
distlib==0.3.0
docutils==0.15.2
filelock==3.0.12
Flask==1.1.1
Flask-HTTPAuth==3.3.0
gast==0.3.2
git-fame==1.10.1
git-hammer==0.2.0
gitdb2==2.0.6
GitPython==3.0.5
globber==0.2.1
google-pasta==0.1.7
grpcio==1.23.0
h5py==2.10.0
idna==2.8
importlib-metadata==1.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==0.13.2
json2html==1.3.0
jsonpickle==1.4.1
lightgbm==2.3.1
lxml>=4.6.2
Markdown==3.1.1
MarkupSafe==1.1.1
mlxtend==0.17.0
Naked==0.1.31
numpy==1.22.0
opencv-contrib-python==4.2.0.32
opencv-contrib-python-headless==4.2.0.32
opencv-python==4.2.0.32
opencv-python-headless==4.2.0.32
pbr==5.4.5
Pillow==9.0.1
protobuf==3.9.2
Pygments==2.7.4
pyOpenSSL==19.1.0
pyparsing==2.4.2
pyst2==0.5.1
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.4
requests==2.22.0
serpent==1.28
shellescape==3.8.1
six==1.12.0
smmap2==2.0.5
sortedcontainers==2.1.0
soupsieve==1.9.5
stevedore==1.32.0
tabulate==0.8.6
tensorboard==1.14.0
termcolor==1.1.0
urllib3==1.25.3
virtualenv==20.0.21
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
Werkzeug==0.16.0
Wikidata==0.6.1
wrapt==1.11.2
zipp==3.1.0
